[dependencies]
pairing = { package = "zero-chain-pairing", path = "../pairing", default-features = false }
bellman-verifier = { path = "../bellman-verifier", default-features = false }
zprimitives = { package = "zero-chain-primitives", path = "../primitives", default-features = false }
jubjub = { path = "../jubjub", default-features = false }

[dependencies.aura]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-aura'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.balances]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-balances'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.client]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-client'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.consensus]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-consensus'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.consensus-aura]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-consensus-aura-primitives'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.executive]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-executive'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.fees]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-fees'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.indices]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-indices'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.parity-codec]
default-features = false
version = '3.0'

[dependencies.parity-codec-derive]
default-features = false
version = '3.0'

[dependencies.primitives]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-primitives'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.rstd]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'sr-std'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.runtime-io]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'sr-io'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.runtime-primitives]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'sr-primitives'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.safe-mix]
default-features = false
version = '1.0'

[dependencies.serde]
default-features = false
version = '1.0'

[dependencies.serde_derive]
optional = true
version = '1.0'

[dependencies.sudo]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-sudo'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.support]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-support'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.system]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-system'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.timestamp]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-timestamp'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[dependencies.version]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'sr-version'
rev = 'f429a0cb8983cebe380d1cbc7aaf753db0aeba55'

[features]
default = ["std"]
std = [
	'parity-codec/std',
    'parity-codec-derive/std',
    'primitives/std',
    'client/std',
    'rstd/std',
    'runtime-io/std',
    'support/std',
    'balances/std',
    'fees/std',
    'executive/std',
    'aura/std',
    'indices/std',
    'primitives/std',
    'system/std',
    'timestamp/std',
    'sudo/std',
    'version/std',
    'serde_derive',
    'serde/std',
    'safe-mix/std',
    'consensus-aura/std',

	"pairing/std",
	"bellman-verifier/std",
	"zprimitives/std",
	"jubjub/std",
]


[package]
name = "zero-chain-runtime"
version = "0.9.0"
authors = ["Osuke <dish230@gmail.com>"]
edition = "2018"
